.header {
    margin-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__appointment {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;
    }
    &__hours, &__call {
        display: flex;
        justify-content: space-between;
        span {
            display: block;
            text-transform: uppercase;
        }
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.15px;
        color: #FFFFFF;
    }
    &__hours {
        width: 206px;
    }
    &__call {
        width: 131px;
    }
}