.video {
    padding: 112px 210px 377px 0;
    background: url('./../img/video/bg.png') center/cover no-repeat;
    &__wrapper {
        width: 411px;
        position: absolute;
        left: 57%;
    }
    &__title {
        margin-bottom: 42px;
        @include title;
    }
}
